
body {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

nav{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav ul {
  padding: 10px;
  text-align: left;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  border-right: 1px solid #FFFFFF;


}
nav ul li a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 120%;
}

nav ul li:hoover {

}

nav {
  background-color: #EF6C00;
}

.content-box{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding-top: 5px;
  padding-bottom: 5px;
}

.feature{
  width: 90%;
  max-width: 800px;
}
